::root{
	font-size:25px;
}

body {
	font-family: Helvetica, sans-serif;
	margin-left: 1rem;
	margin-top: 1rem;
}

a {
	text-decoration: none;
	color: black;
}

.header {
	font-size: 1.3rem;
}

.underline {
	text-decoration: underline;
	font-style: italic;
}

.list, .about {
	margin-top: 4rem;
}

.line {
	border-top: 1px solid black;
}

.works {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	margin-top: 0.5rem;
	font-size: 1.15rem;
}

.image {
	display: flex;
	justify-content: flex-end;
}

img {
	width: 15rem;
}