::root{
	font-size:25px;
}

body {
	font-family: Helvetica, sans-serif;
	margin-left: 1rem;
	margin-right: 1rem;
	margin-top: 1rem;
	background-color: #fafafa;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	cursor: pointer;
}

.header {
	font-size: 1.3rem;
}

.archive,
.work {
	cursor: pointer;
}

.archive:hover,
.work:hover {
	text-decoration: underline;
}

.about {
	display: block;
	margin-top: 4rem;
	font-size: 1.15rem;
}

.abouttext {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.aboutme {
	grid-column-start: span 2;
}

.contact a:hover {
	text-decoration: underline;
	cursor: pointer;
}

.categories {
	margin-top: 6rem;
	display: flex;
	font-size: 1.15rem;
	justify-content: space-between;
}

.buttons, .listjpg {
	display: flex;
}

.allbutton:hover, 
.printbutton:hover,
.posterbutton:hover,
.codebutton:hover,
.motionbutton:hover,
.listbutton:hover,
.gridbutton:hover {
	cursor: pointer;
	text-decoration: underline;
}

.list {
	margin-top: 2rem;
}

.line {
	border: 0.7px solid black;
}

.works, .labels {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	font-size: 1.15rem;
}

.labels {
	font-style: italic;
}

.list2 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items:center;
	row-gap: 0.5rem;
}

.listitem{
	display:flex;
}

.list2 .listitem:nth-child(3n){
	margin-right:0px;
	justify-content:center;
}

.list2 .listitem:nth-child(3n+1){
	margin-right:0px;
	justify-content:flex-end;
}

.list img {
	width: 15rem;
}

.list2 img {
	width: 35rem;
}

.works2 {
	display: block;
}

.footer {
	margin-top: 2.5rem;
	margin-bottom: 1rem;
	text-align: center;
	font-size: 0.8rem;
}

.hoverpics {
	position: fixed;
 	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1000;
}

.hoverpics img {
	opacity: 35%;
}

.hidden {
	display: none;
}

.underline {
	text-decoration: underline;
}