body {
background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 75%, rgba(251,169,220,1) 90%, rgba(254,89,180,1) 100%);
background-repeat: no-repeat;
}

.sticky {
  position: sticky;
  top: 0;
  padding-top: 1%;
  z-index: 1;
}

.navigation {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 98vw;
  margin-left:auto;
  margin-right: auto;
  font-family: 'Helvetica';
  font-size: 18px;
}

.nav1 {
  font-family: "sweet-fancy-script", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 60px;
  padding-left: 4%;
  grid-column: 2 span;
}

.nav2 {
  grid-column-start: 4;
}

.nav2, 
.nav3, 
.nav4, 
.nav5 {
  margin-left: auto;
  text-align: right;
}

.nav4 {
  text-shadow: 0 0 10px white,
    0 0 10px white,
    0 0 20px white,
    0 0 20px white;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-shadow: 0 0 10px #FE007C,
    0 0 10px #FE007C,
    0 0 20px #FE007C,
    0 0 20px #FE007C;
}

.main {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 800px;
  margin-bottom: 6%;
}

img:hover {
  background: #FE007C;
  box-shadow: 0 0 30px #FE007C, 
    0 0 30px #FE007C;
}


