:root{
	font-size:16px;
}

body {
	font-family: Helvetica, sans-serif;
    font-size: 1.4rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
	/* background-color: 	#416181; */
}

.underline {
    text-decoration: underline;
}

.homepage {
    margin-top: 3rem;
    margin-left: 3rem;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	cursor: pointer;
    text-decoration: underline;
}

.images {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    scroll-behavior: smooth;
    margin-left: 3rem;
    width: calc(-1rem + 100vw);
    height: fit-content;
    margin-top: 30rem;
    gap: 15rem;
    z-index: 10000;
    margin-bottom: 3rem;
}

.images::-webkit-scrollbar {
    display: none;
}

.images img {
    width: auto;
    max-width: 60rem;
    height: auto;
    max-height: 50rem;
}

.align {
    position: fixed;
}

.text {
    width: 45rem;
    margin-left: 3rem;
    margin-top: 2rem;
}

.titletext {
    margin-bottom: 2rem;
}

#four {
    width: 50rem;
}

#six {
    width: 40rem;
}

@media only screen and (max-width: 900px){
    .text {
        width: 35rem;
        margin-left: 3rem;
    }

    .images img {
        max-width: 32rem;
        max-height: 32rem;
    }

    .images {
        gap: 5rem;
        margin-top: 35rem;
    }
}

@media only screen and (max-width: 600px){
    .text {
        width: 22rem;
        margin-top: 2rem;
        margin-left: 2rem;
    }

    .homepage {
        margin-left: 2rem;
        margin-top: 2rem;
    }

    .images img {
        max-width: 20rem;
        max-height: 20rem;
    }

    .images {
        margin-left: 2rem;
        gap: 5rem;
        margin-top: 35rem;
    }

}