:root{
	font-size:16px;
}

body {
	font-family: Helvetica, sans-serif;
    font-size: 1.4rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
	/* background-color: 	#416181; */
}

.underline {
    text-decoration: underline;
}

.homepage {
    margin-top: 3rem;
    margin-left: 3rem;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	cursor: pointer;
    text-decoration: underline;
}

.images {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    overflow-x: scroll;
    scroll-behavior: smooth;
    gap: 1rem;
    margin-bottom: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    width: calc(100vw - 1rem);
    height: fit-content;
    margin-top: 8rem;
}

.images::-webkit-scrollbar {
    display: none;
}

.images img {
    width: auto;
    height: auto;
}

.align {
    display: flex;
    flex-grow: 1;
}

.text {
    width: 45rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
}

.titletext {
    margin-bottom: 2rem;
}

@media only screen and (max-width: 900px){
    .align {
       flex-grow: 0; 
       display: block;
    }

    .text {
        width: 40rem;
        margin-left: 3rem;
    }
}

@media only screen and (max-width: 600px){
    .text {
        width: 22rem;
        margin-top: 2rem;
        margin-left: 2rem;
    }

    .homepage {
        margin-left: 2rem;
        margin-top: 2rem;
    }

    .images img {
        max-width: 30rem;
        max-height: 30rem;
    }

}