::root{
	font-size:25px;
}

body {
	font-family: Helvetica, sans-serif;
	margin-left: 1rem;
	margin-right: 1rem;
	margin-top: 1rem;
	background-color: #fafafa;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	cursor: pointer;
	text-decoration: underline;
}

.header {
	font-size: 1.3rem;
	position: sticky;
	top: 1rem;
}

.main {
	font-size: 1.15rem;	
	margin-top: 4rem;
}

.text {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 30rem;
}


.images {
	margin-top: 4rem;
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
	align-items: center;
}

.images img {
	width: 50rem;
}

.underline{
	text-decoration: underline;
}

.footer {
	margin-top: 2.5rem;
	margin-bottom: 1rem;
	text-align: center;
	font-size: 0.8rem;
}